body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    background: url("/resources/images/backgroundBlur.jpg") no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.whiteHeader{
    color: white;
}

.price{
    width: 200px;
    height: 100px;
}

.contactButton{
    font-size: 10px;
}

.booking-input{
    width: 200px;
    color: #3e3e3a;
    padding-left: 5px;
    text-align: center;
    height: 30px;
}

.booking-input:hover, .cd-dropdown:hover{
    border-color: #e66b20;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #e66b20;
    outline: 0 none;
}