@import url('../bootstrap.css');
@import url('../creative.css');

        body {
        padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
        background: url("/resources/images/backgroundBlur.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
        }

.main{
    padding: 50px 20px 50px 20px;
}

.booking-input:hover, .cd-dropdown:hover{
    border-color: #8B4513;
    box-shadow: 0 1px 1px #8B4513 inset, 0 0 8px #8B4513;
    outline: 0 none;
}


